<nav class="header-nav {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <h1 class="header-title">{{ site.name }}</h1>
  {% if page.subtitle %}
    <h1 class="header-subtitle">{{ page.subtitle }}</h1>
  {% endif %}
  <h5 class="header-links">
    <a href="{{ site.url }}" title="Home">Home</a>
    /
    <a href="{{ site.url }}/about" title="About me">About</a>
    /
    <a href="{{ / | relative_url }}" title="Today I Learned">TIL</a>
    /
    <a href="mailto:{{ site.social.email }}?subject=Hello!" title="Contact">Contact</a>
  </h5>
</nav>
